.bgimg{
	background-image: url('../img/dc.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 660px;

}
.headerset{
	padding-top: 250px;
	box-sizing: border-box;
}
.headerset h2{
	font-size: 32px;
}
.headerset h1{
	font-size: 52px;
	font-weight: bold;
}
.About{
	padding: 100px 0px;
	height: 500px;
}
.About h1{
	font-size: 40px;
	font-weight: bold
}
.rowsetting{
	margin: 80px 0px !important;
}
.ourservices h1{
	font-size: 40px;
	font-weight: bold
}
.imsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.fa-ambulance{
	margin-top: 30px;
}
.fa-stethoscope{
	margin-top: 30px;
}
.fa-hospital-o{
	margin-top: 30px;
}
.rowsetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 30px;
}
.rowsetting p{
	padding: 10px;
	color: #6c757d!important;
}
.container{
	text-align: center;
}
.ourteam{
	height: 700px;
	width: 100%;
	padding: 100px 0px 6px;
}
.ourteam h1{
	font-size: 40px;
	font-weight: bold;
}
.teamsetting{
	margin-top: 70px;
}
.footer{
	height: 50px;
}
.footer h6{
	line-height: 50px;
}
.contact{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.contact-section{
  background:  url(../img/bg.png) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.contact-section h1{
  text-align: center;
  color: #ddd;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}
#nav {
  background:black;
  width: 100%;
  height:60px;
  line-height:60px;
}#nav h1{
  float:left;
}#nav h1 a{
  text-decoration: none;
  color:white;
  margin-left:25px; 
  font-family: 'Abril Fatface', cursive;
}#nav ul{
  float:right;
}
#nav ul li{
  text-decoration: none;
  list-style-type: none;
  display:inline-block;
}
#nav ul li a{
  text-decoration: none;
  color:white;
  padding: 25px;
}

#nav ul li:hover {
  background:grey;
  transition: all ease-in-out 0.40s;
}